# Node.js dependencies
node_modules/

# Firebase emulator data
.firebase/

# Build output
/dist
/build

# Cache
/.parcel-cache
/.sass-cache

# Log files
*.log

# Environment files
.env

# System files
.DS_Store
Thumbs.db

# Jangan abaikan folder berikut karena berisi file yang diperlukan untuk aplikasi
!/assets/
!/css/
!/js/
!/index.html
!/html/
!/netlify/
